.App {
  text-align: center;
 max-width: 100vw;
 height: 100%;
 width: 100%;
  
}

.Infojh{
  align-content: center;
  width: 50%;
  font-size: 1.4rem;
}


.currentimgjh{
  height: 95%;
  width: 40%;
  padding: 10px;
}


.Containerjh{
  /* border-style: solid;
  border-color: black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.MovieContainerjh{
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.MovieContainer2jh{
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.posterdh{
  height: 300px;
}

.poster-container-dh{
  display: flex;
  flex-wrap: wrap;
}

.ServiceContainerjh{
  border-style: solid;
  width: 17%;
  margin: auto;
  margin-top: 5px;
  padding: 22px;
}

.OwenWilson{
  width: 50%;
  height: 50%;
  cursor: pointer;
}