.App {
  text-align: center;
  max-width: 100vw;
  height: 100%;
  width: 100%;


}

body {
  background: rgb(72, 120, 144);
  background: linear-gradient(135deg, rgba(72, 120, 144, 1) 3%, rgba(108, 156, 180, 1) 33%, rgba(125, 173, 197, 1) 46%, rgba(144, 192, 216, 1) 59%, rgba(156, 204, 227, 1) 73%, rgba(169, 217, 240, 1) 82%, rgba(184, 232, 255, 1) 90%, rgba(184, 232, 255, 1) 96%);
  background-attachment: fixed;
}



nav {
  display: flex;
  justify-content: center;
  background: rgb(48,48,48);
  background: linear-gradient(135deg, rgba(48,48,48,1) 6%, rgba(48,48,48,0.8858893899356618) 20%, rgba(48,48,48,1) 32%, rgba(48,48,48,0.9110994739692753) 43%, rgba(48,48,48,1) 57%, rgba(48,48,48,0.8970938717283788) 70%, rgba(48,48,48,1) 82%, rgba(48,48,48,0.8522759445575105) 100%);

  border-top: 3px dashed #282828;
  border-bottom: 3px dashed #282828;
  margin-bottom: 15px;
}


.header a {
  color: #f07818;
  text-shadow: 1px 1px 1px #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  background: rgb(240,192,48);
  background: linear-gradient(135deg, rgba(240,192,48,1) 47%, rgba(191,149,0,1) 94%, rgba(144,109,0,1) 100%);
  border-radius: 2px;
  height: 2em;
  width: 10em;
  padding: 10px;
  margin: 10px;
}

.header a:hover{
  outline: groove 5px #f0f0f0;

  text-shadow: 1px 1px 5px #e1ff59;
  color: white;
  transition: outline .2s, text-shadow .1s ;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    left: 1500px
  }

  100% {
    left: 0;
  }
}

@keyframes slideFromLeft {
  0% {
    right: 1500px
  }

  50% {
    right: 1500px
  }

  100% {
    right: 0;
  }
}

@keyframes slideFromRight2 {
  0% {
    left: 2500px
  }

  50% {
    left: 2500px
  }

  100% {
    left: 0;
  }
}

@keyframes slideFromLeft2 {
  0% {
    right: 3000px
  }

  50% {
    right: 3000px
  }

  100% {
    right: 0;
  }
}

@keyframes trailRight {
  0% {
    border-right: 200px solid black
  }

  50% {
    border-right: 200px solid black
  }

  100% {
    border-right: 0px solid #f0f0f0
  }
}

@keyframes trailLeft {
  0% {
    border-left: 200px solid black
  }

  50% {
    border-left: 200px solid black
  }

  100% {
    border-left: 0px solid #f0f0f0
  }
}

.pcontainerhome1 {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  width: 1100px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 20px;
  margin-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadeIn 1s, slideFromRight 1.5s, trailRight 1.2s;
}

.pcontainerhome2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 1100px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadeIn 1s 1s, slideFromLeft 2s, trailLeft 2.2s;

}

.pcontainerhome3 {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  width: 1100px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  animation: slide 0.5s;
  animation: fadeIn 1.5s 1.5s, slideFromRight2 3s, trailRight 3.3s;

}

.pcontainerhome4 {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  width: 1100px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadeIn 2s 2.5s, slideFromLeft2 4s, trailLeft 4.5s;

}

.home p {
  font-family: 'Comfortaa', cursive;
  font-size: 44px;
  text-shadow: 1px 3px 5px;
  color: #303030;
}

.yellowtext {
  color: #f0c030;
  text-shadow: 1px 3px 5px #f07818;
}

.buffalo {
  margin-top: 20px;
  width: 222px;
  height: 211px;
    filter: drop-shadow(-8px 8px 10px gray);
}

.textlogo{
      filter: drop-shadow(-8px 8px 10px gray);
}

.Infojh {
  align-content: center;
  width: 50%;
  font-size: 1.4rem;
}


.currentimgjh {
  height: 95%;
  width: 40%;
  padding: 10px;
}

.Containerjh {
  /* border-style: solid;
  border-color: black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.MovieContainerjh {
  /* border-style: solid;
  border-color: black; */
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.MovieContainer2jh {
  /* border-style: solid;
  border-color: black; */
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
  color:#f0c030;
  text-shadow: 2px 2px 2px #303030;
}

.movietitle{

}

.posterdh {
  height: 300px;
}

.poster-container-dh {
  display: flex;
  flex-wrap: wrap;
}

.ServiceContainerjh {
  border-style: solid;
  width: 17%;
  margin: auto;
  margin-top: 5px;
  padding: 22px;
}

.OwenWilson {
  width: 50%;
  height: 50%;
  cursor: pointer;
}